{% extends 'base.html' %}

{% block content %}
<a href="{{ url_for('index') }}" class="btn btn-warning home">Home</a>
<a href="{{ url_for('live') }}" class="btn btn-info refresh">Refresh</a>
<table class="world">
    <div class="counter">{{ live.counter }}</div>
    {% for i in range(live.world|length) %}}
    <tr>
        {% for j in range(live.world[i]|length) %}
        {% if live.world[i][j] %}
        <td class="cell living-cell"></td>
        {% elif not live.world[i][j] and live.old_world[i][j] %}
        <td class="cell dead-cell"></td>
        {% else %}
        <td class="cell"></td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    setInterval(() => window.location.reload(), 1000);
</script>
{% endblock %}